<h1>Users#edit</h1>

<h1>画像投稿フォーム</h1>
<%= form_with model: @user, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :user_image %>

  <%= f.submit '投稿' %>
<% end %>

    <main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <form enctype="multipart/form-data" action="/users/" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="oAWvHSCqzwxPJsBFOHiubG8EY1HMb2BzMFMKpEfNu0Rb/EffK3FrC7tnspZ399ejP5k2rAotRH+J1HHqNldNfQ==">
      
      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="kouki9115" name="user[name]" id="user_name">
      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
        <input value="{}" data-reference="ebe0a39e295ad767fec8b9fa3e2464e9" type="hidden" name="user[profile_image]"><input class="form-control-file user_image" data-reference="ebe0a39e295ad767fec8b9fa3e2464e9" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
</form>  </div>
</div>

      </div></main>
      
      
    <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>

  

</body>